1 VERSIONINFO
FILEVERSION     1,1,0,0
PRODUCTVERSION  1,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Side Cutters"
      VALUE "FileDescription", "Cad Software"
      VALUE "FileVersion", "1.1"
      VALUE "InternalName", "Cad Software"
      VALUE "LegalCopyright", "GPL/LGPL version 2"
      VALUE "OriginalFilename", "side cutters.exe"
      VALUE "ProductName", "Side Cutters"
      VALUE "ProductVersion", "1.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
// https://docs.microsoft.com/en-us/windows/win32/menurc/versioninfo-resource
// compile windres info.rc -O coff -o info.res    